
@{
    ViewBag.Title = "Index";
}
<style>
    span.field-validation-error {
        color: red;
    }
</style>
<div style="width:90%; margin:0 auto" class="tablecontainer">
    <a class="popup btn btn-primary" href="/Home/save/0" style="margin-bottom:20px; margin-top:20px;">Add New Employee</a>
    <table class="table table-hover dinhdang" id="myDatatable">
        <thead>
            <tr>

                <th>First Name</th>
                <th>Last Name</th>
                <th>Email ID</th>
                <th>City</th>
                <th>Country</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts
 {
<script src="~/Scripts/app/Common.js"></script>
}